body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fcfaf1;
}

body::-webkit-scrollbar {
    width: 10px;               /* ширина всей полосы прокрутки */
}
  
body::-webkit-scrollbar-track {
    background: #fcfaf1;        /* цвет зоны отслеживания */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #bfa37d;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid #f6f3e3;  /* отступ вокруг бегунка */
}